.tns-outer {
    background-color: aquamarine;
    position: relative;
}

.tns-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 10;
  transform: translateY(-50%);
  z-index: 10;

  // prev
  button:first-child {
    all: unset;
    cursor: pointer;

    position: absolute;
    left: 0;
    transform: translateY(-50%);
  }

  // next
  button:last-child {
    all: unset;
    cursor: pointer;

    position: absolute;
    right: 0;
    transform: translateY(-50%);
  }
}
