@use 'variables';
@use 'mixins';

.tns-outer {
  position: relative;
}

.tns-controls {
  position: absolute;
  top: 32%;
  width: 100%;
  z-index: 10;

  button {
    all: unset;
    cursor: pointer;
    
    position: absolute;
    padding: 4px;
    background-color: variables.$arrow-back-color;
    border-radius: 50%;
    @include mixins.flex-center;

    //transform: translateY(-180%);
  }

  // prev
  button:first-child {
    left: 1%;
  }

  // next
  button:last-child {
    right: 1%;
  }
}

// Barra de posição do slider
.tns-nav {
  text-align: center;
  width: 100%;
}

.tns-nav button {
  border: none;
  padding: 2px;
  // Para 6 barras
  //width: 16.5%;
  background-color: rgb(190, 190, 253);
}

.tns-nav .tns-nav-active {
  background-color: variables.$primary-color;
}


