@use 'variables';

.tns-outer {
  position: relative;
}

.tns-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 10;
  transform: translateY(-50%);
  z-index: 10;

  button {
    all: unset;
    cursor: pointer;
    position: absolute;
    transform: translateY(-50%);
  }

  // prev
  button:first-child {
    left: 1%;
  }

  // next
  button:last-child {
    right: 1%;
  }
}

.tns-nav {
  position: absolute;
  text-align: center;
  top: -10px;
  //top: 95%;
  width: 100%;
}

.tns-nav button {
  border: none;
  padding: 6px;
  border-radius: 50%;
  margin-left: 7px;
}

.tns-nav .tns-nav-active {
  background-color: variables.$primary-color;
}


