$container-width: 1280px;

$primary-color: rgb(52, 52, 250);

$border-color: rgb(229, 233, 250);

$heart-color: rgb(242, 243, 248);

$arrow-background-color: rgb(221, 240, 255);

//Badge colors
$badge-primary-color: rgb(48, 163, 48);
$badge-background-color: rgb(196, 253, 196);

// Card
$product-color-title: rgb(122, 122, 122);
$product-color-price: rgb(77, 76, 76);

$main-title-color: rgb(65, 65, 250);