@use 'reset';
@use 'variables';
@use 'mixins';
@use 'carousel';

// ----------------- Container -----------------

.beon-showcase {
  max-width: variables.$container-width;
  margin-inline: auto;
}

// ----------------- Card -----------------------

.beon-showcase__item {
  display: flex;
  flex-direction: column;
  border: 1px solid variables.$border-color;
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;
  height: 100%;
  padding: 8px;

  &-badge {
    color: rgb(15, 92, 15);
    background-color: rgb(109, 231, 109);
    width: fit-content;
    border-radius: 10px;
    padding: 4px;
    font-weight: bold;
    position: absolute;
    z-index: 10;
  }

  &-image {
    order: 1;
    position: relative;
    z-index: 0;
    border-bottom: 1px solid variables.$border-color;
      
    a {
      @include mixins.flex-center;
    }

    img {
      max-width: 150px;
      max-height: 150px;
      object-fit: contain;
    }
  }

  &-title {
    order: 2;
  
    a {
      text-decoration: none;
      color: rgb(75, 75, 75);
    }
  }

  &-details {
    order: 3;
    display: flex;
    align-items: center;

    .detail-favoritos, .detail-notaPercentual {
      display: none;
    }
  }

  &-description {
    order: 4;
  }

  &-price {
    font-size: 1.8rem;
    font-weight: 600;

    &-box {
      display: flex;
      flex-direction: column;
      gap: 3px;
      margin-top: auto;
    }

    &--from {
      text-decoration: line-through;
      font-size: 1rem;
      font-weight: 400;
    }

    &--to {

    }
  }
}

// Esconder de e por
.prefix {
  display: none;
}

// ----------- Rating stars -------------

.stars-container {
  display: inline-flex;
  gap: 2px;
  margin-bottom: 1rem;
}

.detail-qtdAvaliacoes {
  margin-bottom: 1rem;

  a {
    text-decoration: none;
    color: rgb(75, 75, 75);
    font-size: 0.8rem;
  }
}

// -------- wishlist ------------

.beon-showcase__wishlist {

  &-icon {
    all: unset;
    cursor: pointer;

    display: flex;
    justify-content: flex-end;
    width: 90%;
    margin-bottom: 7px;
    //background-color: rgb(232, 232, 236);
    //border-radius: calc(infinity * 1px);
  }
}


