
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// ----------------- CARD -----------------------

// 9% off
.beon-showcase__item-badges {
  color: rgb(15, 92, 15);
  background-color: rgb(109, 231, 109);
  width: fit-content;
  border-radius: 10px;
  padding: 5px;
  margin: 7px;
  font-weight: bold;
  position: absolute;
  z-index: 10;
}

// Imagem do item no card
.beon-showcase__item-image {
  order: 1;
  position: relative;
  z-index: 0;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.beon-showcase__item-title {
  order: 2;
}

.beon-showcase__item-details {
  order: 3;
  display: flex;
  align-items: center;

  .detail-favoritos, .detail-notaPercentual {
    display: none;
  }
}

.beon-showcase__item-description {
  order: 4;
}

.beon-showcase__item {
  background-color: rgb(143, 143, 84);
  display: flex;
  flex-direction: column;
  border: 1px solid;
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;
}


// --------- Item price -----------
.beon-showcase__item-price-box {
  background-color: aqua;
  display: flex;
  flex-direction: column;
}

// Esconder de, por e ou
.prefix {
  display: none;
}

.beon-showcase__item-price {
  font-size: 1.8rem;
  background-color: burlywood;
  font-weight: 600;
}

.beon-showcase__item-price--from {
  text-decoration: line-through;
  font-size: 1rem;
  font-weight: 400;
}

.beon-showcase__item-price--to {
  background-color: rgb(129, 189, 189);
}

.beon-showcase__item-installments {
  background-color: aliceblue;
}

// ----------- Rating stars -------------

.detail-qtdAvaliacoes {
  
}