@use 'reset';
@use 'variables';
@use 'mixins';

// ----------------- Container -----------------

.beon-showcase {
  max-width: variables.$container-width;
  margin-inline: auto;
}

// ----------------- Card -----------------------

.beon-showcase__item {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;
  padding: 8px;
  height: 100%;

  &-badge {
    color: rgb(15, 92, 15);
    background-color: rgb(109, 231, 109);
    width: fit-content;
    border-radius: 10px;
    padding: 4px;
    font-weight: bold;
    position: absolute;
    z-index: 10;
  }

  &-image {
    order: 1;
    position: relative;
    z-index: 0;
    border-bottom: 1px solid rgb(228, 226, 226);
    
    a {
      @include mixins.flex-center;
    }

    img {
      max-width: 140px;
      max-height: 140px;
      object-fit: contain;
    }
  }

  &-title {
    order: 2;
  }

  &-details {
    order: 3;
    display: flex;
    align-items: center;

    .detail-favoritos, .detail-notaPercentual {
      display: none;
    }
  }

  &-description {
    order: 4;
  }
}

// --------- Item price -----------

.beon-showcase__item-price {
  font-size: 1.8rem;
  font-weight: 600;

  &-box {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  &--from {
    text-decoration: line-through;
    font-size: 1rem;
    font-weight: 400;
  }

  &--to {

  }

}

// Esconder de, por e ou
.prefix {
  display: none;
}

// ----------- Rating stars -------------

.stars-container {
  display: inline-flex;
  gap: 2px;
  margin-bottom: 1rem;
}

.detail-qtdAvaliacoes {
  margin-bottom: 1rem;
}

// -------- wishlist ------------
