@use 'reset';
@use 'variables';
@use 'mixins';
@use 'carousel';

// ----------------- Container -----------------

.beon-showcase {
  max-width: variables.$container-width;
  margin-inline: auto;
}

// ---------------- Title ----------------------

.beon-showcase__head-inner {
  margin: 8px;
  margin-left: 12px;
  margin-bottom: 17px;
  font-size: large;
  color: variable.$main-title-color;
  font-weight: 600;
}

// ----------------- Card -----------------------


.beon-showcase__items-wrapper {
  display: flex;
  padding-bottom: 30px;
  //gap: 13px;
}

.beon-showcase__item {
  display: flex;
  flex-direction: column;
  border: 2px solid variables.$border-color;
  border-radius: 5px;
  overflow: hidden;
  height: 100%;
  padding: 8px;
  max-width: 225px;
  //margin-left: 5px;
  //margin-right: 5px;

  &-badge {
    color: variables.$badge-primary-color;
    background-color: variables.$badge-background-color;
    width: fit-content;
    border-radius: 10px;
    padding: 2px;
    padding-inline: 10px;
    font-weight: bold;
    position: absolute;
    z-index: 10;

    .null {
      display: none;
    }
  }

  &-image {
    order: 1;
    position: relative;
    z-index: 0;
    margin-bottom: 5px;
    //border-bottom: 1px solid variables.$border-color;
      
    a {
      @include mixins.flex-center;
    }

    img {
      max-width: 150px;
      max-height: 150px;
      object-fit: contain;
    }
  }

  &-title {
    order: 2;
    
    a {
      text-decoration: none;
      color: variables.$product-color-title;
    }

    span {
      font-weight: 500;
    }

    h3 {
      margin-top: 0;
      padding: 0;
    }
  }

  &-details {
    order: 3;
    display: flex;
    align-items: center;

    .detail-favoritos, .detail-notaPercentual {
      display: none;
    }
  }

  &-description {
    order: 4;
  }

  &-price {
    font-size: 1.8rem;
    font-weight: 600;
    

    &-box {
      display: flex;
      flex-direction: column;
      gap: 3px;
      margin-top: auto;
      color: variables.$product-color-price;
    }

    &--from {
      text-decoration: line-through;
      font-size: 1rem;
      font-weight: 400;
    }

    &--to {

    }
  }

  &-installments strong {
    font-weight: 400;
  }

  // retira o ou do preço parcelado
  &-installments .null:first-child {
    display: none;
  }
}

// Esconder de e por
.prefix {
  display: none;
}

// ----------- Rating stars -------------

.stars-container {
  display: inline-flex;
  gap: 2px;
  margin-bottom: 1rem;
}

.detail-qtdAvaliacoes {
  margin-bottom: 1rem;

  a {
    text-decoration: none;
    color: variables.$product-color-price;
    font-size: 0.9rem;
  }
}

// -------- wishlist ------------

.beon-showcase__wishlist {

  &-icon {
    all: unset;
    cursor: pointer;

    position: absolute;
    left: 85%;
    bottom: 3%;
    background-color: variables.$heart-color;
    padding: 6px;
    border-radius: 50%;
    opacity: 0.7;
    @include mixins.flex-center;
  }
}


// -------- Mais vendidos ----------
.beon-tag__frete_gratis_sul_e_sp_havan_teste {
  position: absolute;
  top: 0;
  right: -40px
}

