
ul {
  list-style-type: none;
}

// Imagem do item no card
.beon-showcase__item-image {
  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.beon-showcase__item-details {
  background-color: green;
}

.beon-showcase__item {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  border: 1px solid;
  margin: 10px;
  border-radius: 4px;
}