
ul {
  list-style-type: none;
}

// ----------------- CARD -----------------------

// 9% off
.beon-showcase__item-badges {
  color: rgb(15, 92, 15);
  background-color: rgb(109, 231, 109);
  width: fit-content;
  border-radius: 10px;
  padding: 5px;
  margin: 7px;
  font-weight: bold;
  position: absolute;
  z-index: 10;
}

// Imagem do item no card
.beon-showcase__item-image {
  order: 1;
  position: relative;
  z-index: 0;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.beon-showcase__item-title {
  order: 2;
}

.beon-showcase__item-details {
  background-color: green;
  order: 3;
}

.beon-showcase__item-description {
  order: 4
}

.beon-showcase__item {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  border: 1px solid;
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.beon-showcase__item-price-box {
  background-color: aqua;
  display: flex;
  flex-direction: column;
}

// Esconder de, por e ou
.prefix {
  display: none;
}

.beon-showcase__item-price {
  font-size: 1.5rem;
}

.beon-showcase__item-price--from {
  text-decoration: line-through;
  font-size: 1rem;
}

.beon-showcase__item-price--to {
  font-size: 1.5rem;
}

.beon-showcase__item-installments {
  background-color: bisque;
}
